.appbar{
  background-color: white !important;
  border-color: white !important;
}
.boton>button{
  text-decoration: none;
  color: black !important;
  left: 300px;
  padding-left: 80px;
}
.search{
  left: 500px;
  height: 50px;
  width: 120px;
  background-color: #B8C2CE;
  color: white;
  border-radius: 10px;
}
.logo{
  width: 200px;
  height: 0;
  color: black;
  font-family: Darkline;
font-size: 30px;
font-weight: 100px;
line-height: 42px;
letter-spacing: 0.01em;
text-align: left;
}
.title{
  font-size: 100px;
  width: 550px;
  height: 680px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: relative;
  z-index: 1;
  top: 80px;
  left: 250px;
  gap: 0px;
  opacity: 0px;
  background: linear-gradient(180deg, #262626 0%, #B8C2CE 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
.imagen{
  z-index: -1;
  position: relative;
  top: -930px;
}
.jugador{
  position: relative;
  top: -1900px;
  left: 480px;
  z-index: 1;
}
.boton2>button{
  width: 104px;
  position: relative;
  top: -1700px;
  left: 1500px;
  background: #E1E8F0;
  color: #B8C2CE;
}
.boton3{
  position: relative;
  top: -1070px;
  left: 700px;
  height: 54px;
  width: 310px;
  background-color: black;

}
.p{
  position: relative;
  top: -1100px;
  left: 700px;
  height: 54px;
  width: 270px;
  font-size: 19px;
  width: 400px;
}
.apis{
  position: relative;
  top: -2800px;
  left: 1400px;
}
.titulo2{
  position: relative;
  top: -2600px;
  left: 200px;
}
.title2>h1{
  background: linear-gradient(180deg, #262626 0%, #B8C2CE 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  top: -2500px;
  left: 210px;
}
.title3{
  background: linear-gradient(180deg, #262626 0%, #B8C2CE 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  top: -2500px;
  left: 610px;
}
/*:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}*/
